.heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.heading-project-files {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 5px;
}

.project-files {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    padding: 2px;
    margin-left: 10px;
}

.project-files:hover {
    background-color: var(--vscode-editorStickyScrollHover-background);
    cursor: pointer;
}

.mt-15 {
    margin-top: 15px;
}

img:hover {
    cursor: pointer;
}

select {
    font-size: 13px;
    width: 100%;
    background-color: var(--vscode-button-secondaryBackground);
    border-radius: 0;
    color: var(--vscode-foreground);
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    i {
        padding-right: 2px;
        padding-left: 2px;
        cursor: pointer;
    }
}

.mr-4 {
    margin-right: 4px;
}
